{% extends "base.html" %}

{% block htmltitle %}
  {% if page.is_homepage %}
    <title>{{ config.site_name }}</title>
  {% elif page.meta and page.meta.title %}
    <title>{{ page.meta.title }} | {{ config.site_name }}</title>
  {% elif page.title and not page.is_homepage %}
    <title>{{ page.title | striptags }} | {{ config.site_name }}</title>
  {% else %}
    <title>{{ config.site_name }}</title>
  {% endif %}
{% endblock %}

{% block announce %}
  <center
  style="font-size: 1rem;"
  >MERCH DROP IS LIVE!<a href="/shop"> Check it out!</a></center> 
{% endblock %}