[data-md-color-scheme="slate"] .md-content a:hover{
    color:white;
}

[data-md-color-scheme="slate"] .md-sidebar a:hover{
    color:white !important;
}

[data-md-color-scheme="default"] .md-content a:hover{
  color:black;
}

[data-md-color-scheme="default"] .md-sidebar a:hover{
  color:rgb(84, 172, 88) !important;
}

.md-typeset .admonition.tip,
.md-typeset details.tip,
.md-typeset .admonition.note,
.md-typeset details.note
{
  border-color: rgb(84, 172, 88);
}
.md-typeset .tip> .admonition-title,
.md-typeset .tip> summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .note> .admonition-title,
.md-typeset .note> summary {
  background-color: rgba(43, 155, 70, 0.1);
}

.md-typeset .tip > .admonition-title::before,
.md-typeset .tip > summary::before {
  background-color: rgb(84, 172, 88);
}

.md-typeset .note > .admonition-title::before,
.md-typeset .note > summary::before {
  background-color: rgb(84, 172, 88);
}


:root {
  --md-admonition-icon--video: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 128C0 92.7 28.7 64 64 64H320c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128zM559.1 99.8c10.4 5.6 16.9 16.4 16.9 28.2V384c0 11.8-6.5 22.6-16.9 28.2s-23 5-32.9-1.6l-96-64L416 337.1V320 192 174.9l14.2-9.5 96-64c9.8-6.5 22.4-7.2 32.9-1.6z"/></svg>');
  --md-primary-fg-color: #54AC58;
  --md-accent-fg-color: #54AC58; 
}
.md-typeset .admonition.video,
.md-typeset details.video {
  border-color: rgb(32, 148, 243);
}
.md-typeset .video > .admonition-title,
.md-typeset .video > summary {
  background-color: rgba(32, 148, 243, 0.1);
}
.md-typeset .video > .admonition-title::before,
.md-typeset .video > summary::before {
  background-color: rgb(32, 148, 243);
  -webkit-mask-image: var(--md-admonition-icon--video);
          mask-image: var(--md-admonition-icon--video);
}


:root {
  --md-admonition-icon--concept: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M249.6 471.5c10.8 3.8 22.4-4.1 22.4-15.5l0-377.4c0-4.2-1.6-8.4-5-11C247.4 52 202.4 32 144 32C93.5 32 46.3 45.3 18.1 56.1C6.8 60.5 0 71.7 0 83.8L0 454.1c0 11.9 12.8 20.2 24.1 16.5C55.6 460.1 105.5 448 144 448c33.9 0 79 14 105.6 23.5zm76.8 0C353 462 398.1 448 432 448c38.5 0 88.4 12.1 119.9 22.6c11.3 3.8 24.1-4.6 24.1-16.5l0-370.3c0-12.1-6.8-23.3-18.1-27.6C529.7 45.3 482.5 32 432 32c-58.4 0-103.4 20-123 35.6c-3.3 2.6-5 6.8-5 11L304 456c0 11.4 11.7 19.3 22.4 15.5z"/></svg>');
  --md-primary-fg-color: #54AC58;
  --md-accent-fg-color: #54AC58; 
}
.md-typeset .admonition.concept,
.md-typeset details.concept {
  border-color: #54AC58;
}
.md-typeset .concept > .admonition-title,
.md-typeset .concept > summary {
  background-color: #54ac581a;
}
.md-typeset .concept > .admonition-title::before,
.md-typeset .concept > summary::before {
  background-color: #54AC58;
  -webkit-mask-image: var(--md-admonition-icon--concept);
          mask-image: var(--md-admonition-icon--concept);
}

abbr {
  border-bottom-style: solid !important;
  border-bottom-color: rgb(84, 172, 88) !important;
  border-bottom-width: 0.075rem !important;
  cursor: help;
}

:root {

}

.md-typeset .md-button--primary {
  margin-top: 0.5rem;
}

a:hover {
  text-decoration: underline;
}

.gnext, .gprev svg{
  visibility: hidden;
  cursor: default;
}

.gnext, .gprev {
  cursor: default !important;
  visibility: hidden !important;
}

.footerlink {
  color:#54AC58 !important;
  font-weight: bold !important;
}

.md-typeset .note > .admonition-title::after, .md-typeset .note > summary::after {
	color: #54AC58
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
#slide1 {display:block}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 250px;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px 3px 3px 3px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.6);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.25s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}